+engines/+c_solver_MS/ptycho_ms_omp_dp filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver_MS/ptycho_ms_omp_sp filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver_MS/ptycho_ms_omp_* filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_single_hybrid filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_single_OMP filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_double_hybrid filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_double_OMP filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver_MS/* filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver_MS/ptycho_ms_hyb_dp filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver_MS/ptycho_ms_hyb_sp filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_singlePrec_hybrid filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_singlePrec_multiGPU filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_singlePrec_OMP filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_singlePrec_singleGPU filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_doublePrec_hybrid filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_doublePrec_multiGPU filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_doublePrec_OMP filter=lfs diff=lfs merge=lfs -text
+engines/+c_solver/ptycho_doublePrec_singleGPU filter=lfs diff=lfs merge=lfs -text
